
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-vDu {
  padding: 3.2rem 2.3rem 2.2rem 7.6rem;
  width: 100%;
  height: 88.8rem;
  position: relative;
  background: conic-gradient(from 117.58deg at 47.05% 48.07%,#156d52 0deg, #167055 -80.37deg, #112712 -68.4deg, #156d52 360deg);
}
.desktop-1-vDu .group-7-RK5 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 {
  margin-bottom: 18.4rem;
  height: 7.8rem;
  display: flex;
  align-items: center;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .swizosoft-4Py {
  margin: 0rem 26.7rem 1.1rem 0rem;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.115;
  color: #232f34;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-3-scK {
  margin: 1.9rem 10.1rem 3.4rem 0rem;
  height: calc(100% - 5.3rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-3-scK .home-juR {
  margin-right: 9.3rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-3-scK .about-us-cyD {
  margin-right: 7rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-3-scK .services-vDD {
  margin-right: 6.9rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-3-scK .verify-zD5 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-decoration: none;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-2-HCB {
  margin: 0.7rem 0rem 0.8rem 0rem;
  height: calc(100% - 1.5rem);
  display: flex;
  align-items: center;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-2-HCB .log-in-y51 {
  margin: 0rem 1.6rem 1.4rem 0rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-2-HCB .group-1-Emd {
  width: 12rem;
  height: 100%;
  position: relative;
  border-radius: 2.2rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-2-HCB .group-1-Emd .rectangle-1-M5Z {
  width: 12rem;
  height: 5.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #232f34;
  border-radius: 2.2rem;
}
.desktop-1-vDu .group-7-RK5 .group-4-zQ7 .group-2-HCB .group-1-Emd .sign-up-xFh {
  width: 7.5rem;
  height: 2.5rem;
  position: absolute;
  left: 1.4rem;
  top: 1.2rem;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT {
  margin: 0rem 0rem 2.7rem 3.7rem;
  width: 130.4rem;
  height: 49.5rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT .empowering-futures-in-the-digital-realm-CpF {
  width: 54.1rem;
  height: 13.7rem;
  position: absolute;
  left: 4.1rem;
  top: 5.9rem;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 1.1;
  color: #1e1e1e;
  font-family: Anek Latin, 'Source Sans Pro';
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT .swizosoft-champions-the-transformative-potential-of-education-our-seasoned-professionals-dedicate-themselves-to-delivering-premier-software-development-training-empowering-learners-for-success-in-the-dynamic-tech-landscape-whether-youre-a-novice-or-a-seasoned-pro-swizosoft-offers-tailored-learning-paths-to-suit-your-needs-q6X {
  width: 76.4rem;
  height: 7.5rem;
  position: absolute;
  left: 0;
  top: 24.8rem;
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 1.1;
  color: #86baae;
  font-family: Anek Latin, 'Source Sans Pro';
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT .rectangle-2-VKV {
  width: 19rem;
  height: 5.5rem;
  position: absolute;
  left: 6.4rem;
  top: 36.6rem;
  background-color: #232f34;
  border-radius: 3.2rem;
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT .contact-us-9ew {
  width: 12rem;
  height: 3.1rem;
  position: absolute;
  left: 9.8rem;
  top: 37.7rem;
  font-size: 2.7rem;
  font-weight: 400;
  line-height: 1.115;
  color: #ffffff;
  font-family: Almarai, 'Source Sans Pro';
  white-space: nowrap;
  text-decoration:none;
}
.desktop-1-vDu .group-7-RK5 .group-5-KkT .pngwing-1-oUb {
  width: 54.9rem;
  height: 49.5rem;
  position: absolute;
  left: 75.5rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b {
  margin-left: 5.1rem;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-vqzs-ACf {
  margin-right: 0.9rem;
  box-sizing: border-box;
  padding: 0.7rem 0.773rem 0.8rem 0.8rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-vqzs-ACf .pngwing-2-dM9 {
  width: 3.4271rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-zvyd-fHq {
  margin-right: 0.5rem;
  box-sizing: border-box;
  padding: 0.7rem 0.727rem 0.8rem 0.7rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-zvyd-fHq .pngwing-3-xnj {
  width: 3.5729rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-rqtp-UWB {
  box-sizing: border-box;
  padding: 0.7rem 0.7rem 0.8rem 0.8rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 2.5rem;
  flex-shrink: 0;
}
.desktop-1-vDu .group-7-RK5 .group-6-g2b .auto-group-rqtp-UWB .pngwing-4-nWs {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  vertical-align: top;
}
